<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/scrollpos-styler@0.7.0/scrollPosStyler.min.js" charset="utf-8"></script>
<script src="/js/entry.js" type="text/javascript"></script>
<script src="/js/map.js" type="text/javascript"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap"></script>
</body>
</html>
