<% include ./partials/head %>


   <div class="container">
      <div class="jumbotron">
         <!-- <h1>Bootstrap Tutorial</h1>
         <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> -->
         <div class="media">
            <div class="media-left">
               <img src="http://equifyllc.com/wp-content/uploads/2016/09/round-placeholder.png" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
               <h4 class="media-heading">Left-aligned</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
         </div>
         <hr>
         <div class="container">
            <h2>Animated Progress Bar</h2>
            <p>The .active class animates the progress bar:</p>
            <div class="progress">
               <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  40%
               </div>
            </div>
         </div>
      </div>

      <% include ./partials/footer %>